@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: hwb(0 98% 2%);
}

header {
    background-image: url("./assets/images/header.jpg");
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 0.45em;
}

::-webkit-scrollbar-track {
    background: hsl(42, 85%, 60%);
}

::-webkit-scrollbar-thumb {
    background: hsl(351, 64%, 34%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(350, 100%, 50%);
}